@import "./variables.scss";

.container {
}

.singleNews {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom: $bottom-border;

  p {
    font-size: 2.4rem;
    color: $dark-gray;
    font-weight: 900;
    line-height: 0rem;
    margin: 0;
  }

  h2 {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
  }
}
